:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-gradient: linear-gradient(#ee4d2d,#ff7337);
  --font-weight: 300;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  line-height: 1.2rem;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;    
}

p {
  font-size: 1rem;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }

}